*{
    padding: 0px;
    margin: 0px;
}

#all{
    border: #ffcc00 1px solid;
    padding: 0px;
}

#header{
    height: 200px;
}

#logo{
    height: 150px;
    width: auto;
    margin-top: 10px;
    float: left;
}

#text_log{
    float: right;
    margin-top: 50px;
}

#box_logo{
    margin-top: 50px;
    height: 170px;
    border: #ffcc00 1px solid;
}

.navbar-dark{
    color: blue;
    text-align: center;
}
#conteudo{
    height: 800px;
    background-color: blue;
}

#footer{
    height: 150px;
    background-color: #ffcc00;
}

#text_fot{
    text-align: center;
    padding-top: 75px;
}

@media (max-width: 420px){

    #header{
        height: 200px;
    }
    
    #logo{
        display: block;
        width: auto;
        height: 150px;
        padding-left: 30px;
    }
    
    #text_log{
        display: none;
    }
}