body {
  padding-top: 54px;
  background-color: #f5f5f5;
}

#logo{
    width: 150px;
    height: 150px;
}
#sobreDescricao{
    text-align: center;
}
.section-header .section-title {
  font-size: 32px;
  color: #111;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  margin-bottom: 5px;
}

.section-header .section-description {
  text-align: center;
  padding-bottom: 40px;
  color: #999;
}


@media only screen and (max-device-width: 492px){
  body {
    padding-top: 56px;
  }
  
  #logo{
    display: none;
}
#ocultoSmart{
    display: none;
}
}
